* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

img {
  object-fit: cover;
}

html,
main,
body {
  height: 100%;
}

body,
.button,
button {
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;

  font-size: 2.4rem;
  transition: all 400ms;
}

header{
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

li {
  list-style: none;
}

li:first-child {
  margin-top: 2.4rem;
}

a {
  text-decoration: none;
  color: #ccc;
  font-family: 'Roboto', sans-serif;
}

a:hover, a:focus {
  color: white;
}

main {
  text-align: center;
  padding: 2.5rem;
  width: 100%;
  margin-top: 8rem;
}

h2 {
  margin-bottom: 2.4rem;
}

p {
  font-size: 1.8rem;
  line-height: 160%;
}

.background-image {
  width: 0;
  position: absolute;
  z-index: -1
}


.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;

  height: 100%;
  padding: 2.5rem;
}

.button {
  padding: 1.2rem 3.2rem;
  background: transparent;
  border: 0.2rem solid #fff;
  border-radius: 0.5rem;
  cursor: pointer;

  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 24px;
}

@media (min-width: 587px) {
  header {
    height: 12.2rem;
    padding: 4rem 7.2rem;
  }

  ul {
    flex-direction: row;
    gap: 3.2rem;
    justify-content: flex-start;
  }

  li:first-child {
    margin-top: 0;
  }

  main {
    margin-top: 0;
  }

  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .universe, .exploration {
    padding-top: 6.3rem;
    text-align: start;
    margin-left: 10.2rem;
    margin-right: auto;
    width: 65rem;
  }
}
